# URL base da API backend
# Desenvolvimento local
VITE_BASE_URL=http://localhost:3000/api/v1

# Homologação (será sobrescrito pelo CI)
# VITE_BASE_URL=https://homo-backapp.projeto-integrador.app.br/api/v1

# Produção - Vercel
# VITE_BASE_URL=https://seu-projeto.vercel.app/api/v1

# Configurações Docker
APP_PORT=3001
DOMAIN_NAME=homo-frontend.projeto-integrador.app.br

# Porta do servidor de desenvolvimento
VITE_DEV_PORT=5173